{% extends 'index.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}

<div class="contact-container">
    <div class="contact-title">
        <h1>Zapraszam do kontaktu</h1>
    </div>
    <div class="contact-content">
        <ul>
            <li>
                <i class="fas fa-at">&nbsp;barb.art.handmade@gmail.com</i>
            </li>
            <li class="contact-social-link">
                <a href="https://www.facebook.com/Barb.art.handmade"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="contact-social-link">
                <a href="https://www.instagram.com/Barb.art.handmade"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div> 
{% endblock %}  
    