{% extends 'index.html' %}
{% block title %}Wielkanoc{% endblock %}
{% block content %}
<div class="card-container">
  <div class="row">
    {% for easter in easter_list  %}
    <div class="card">
      <div class="card-image">
        <img src="{{ easter.cover.url }}">
      </div>
      <div class="card-header">
        <h2>{{ easter.title }}</h2>
      </div>
      <div class="card-body">
        <p>
          {{ easter.content }}
        </p>
        <a href="{% url 'easter-detail' easter.pk %}" class="btn">Więcej</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}