{% extends 'index.html' %}
{% block title %}Gobeliny{% endblock %}
{% block content %}
<div class="card-container">
  <div class="row">
    {% for gobelin in gobelin_list  %}
    <div class="card">
      <div class="card-image">
        <img src="{{ gobelin.cover.url }}">
      </div>
      <div class="card-header">
        <h2>{{ gobelin.title }}</h2>
      </div>
      <div class="card-body">
        <p>
          {{ gobelin.content }}
        </p>
        <a href="{% url 'gobelin-detail' gobelin.pk %}" class="btn">Więcej</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}